/*frame*/
@import url("init.css");
body{
	padding:0;
	border:0;
	margin:0;
	background-color:#DCDCDC;
}
#head{
	width:100%;
	margin:auto;
	height:4.5em;
	background-color:#FFFFFF;
}
#center{
	width:70em;
	margin:auto;
	height:48em;
	background-color:#DCDCDC;
}
#bottom{
	position:relative;
	bottom:0;
	width:100%;
	margin:auto;
	height:7em;
	margin-bottom:0px;
	background-color:#696969;

}
#center_top{
	width:100%;
	height:20px;
	background-color:#DCDCDC;
}
#center_list{
	float:left;
	width:18em;
	height:15.5em;
	margin-left:0px;
	background-color:#ffffff;
}
#center_content{
	float:right;
	width:48em;
	height:40em;
	padding:15px;
	background-color:#ffffff;
	margin-left:5px;
	margin-top:-6px;
}
.clear{
	clear:both;
}
.all_head_left img{
	height: 72px;
	float: left;
}
.all_head_right{
	float: right;
}
.all_usernav li{
	float: left;
	
}
.all_user_hover{
	height: 72px;
	margin-top: 28px;
}
.all_userpic{
	height: 72px;
	width: 72px
}
.allsubnav{
	height:0;
  /*left:0;*/
  overflow:hidden;
  position:absolute;
  top:35px;
  margin-top: 20px;
  
}
.allsubnav li{
	clear: both;
}
.all_usernav li.all_user_hover:hover ul.allsubnav{
  height: auto;
}
.all_usernav li.all_user_hover:hover a.usernavname{
  color: red;
}
.allsubnav li:hover{
  border: solid 1px #f5f5f5;
}
.allsubnav{
  background: white;
}
.all_usernav ul a{
  display: block;
  width: 85px;
  font-size: 15px;
  margin: auto;
  padding: 5px;
}


/*房子搜索导航*/
.serach_house_bt{
  color: white;
}
.logoimg{
  height: 75px;
}
#nav_count{
  float: left;
  margin-top: 13px;
  display: none;
}
.userpic{
  height: 48px;
  width: 48px;
  margin-right: 5px;
}
.house_usernav ul{
  height:0;
  /*left:0;*/
  overflow:hidden;
  position:absolute;
  top:35px;
  margin-top: 20px;
  z-index: 999;
}
.house_usernav ul a{
  display: block;
  width: 85px;
  font-size: 15px;
  margin: auto;
  padding: 5px;
}
.house_usernav li{
  float: left;
}
.house_usernav li.user_hover:hover ul.housesubnav{
  height: auto;
}
.house_usernav li.user_hover:hover a.usernavname{
  color: red;
}
.housesubnav li:hover{
  border: solid 1px #f5f5f5;
}
.housesubnav li{
  clear: both;

}
.housesubnav{
  background: white;
}
.footer-float{
	float: left;
}
.footer-float img{
	height: 100px;
}
.footer-float div{
	line-height: 32px;
}
.footerbox{
	width: 70em;
	margin: auto;
}