@import url("init.css");
.clear{clear:both;} /* clear float */
.first-title{

}
.second_title{
	font-size: 1.2em;
}
.second_title img{
	margin-bottom: -5px;
}
.platform{
	
}
.pay_center_img{
	float: left;
}
.pay_des_item{
	margin: 10px;
	padding: 7px;
}
.pay_center_img img{
	height: 235px;
	width: 270px;
}
.pay_des_right, .pay_des_price{
	margin-left: 6px;
}
.pay_des_price{
	color: red;
	font-size: 1.6em;
}
.pay_center_des{
	margin-left: 280px;
	margin-right: 58px;
}
.choose_pay_title{
	margin: 20px 0px;
}
.pay_way_choose table{
	border: #ebebeb 1px solid;
}
.pay_way_choose tr{
	height: 40px;

}
.pay_way_choose{
	width: 565px;
}
.pay_way_choose td{
	width: 184px;
	padding: 10px
}
.pay_way_des{
	float: left;
	line-height: 33px;
} 
.pay_way_check{
	float: left;
}
.pay_choose_title{
	font-size: 1.6em;
}
.pay_title td{
	text-align: center;
	position: relative;
}
.pay_title_plat, .pay_title_yl{
	background: red;
	color: white;
	width: 100%;
	height: 100%;
	display: block;
	padding: 0px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 30px;
}
.pay_title_yl{
	background: white;
	color: black;
}
.pay_way_box{
	width: 100%;
}
.pay_way_bt{
	margin: auto;
	width: 120px;
}
.pay_way_bt input{
	height: 31px;
	width: 120px;
	margin: 10px;
	text-align: center;
	background: red;
	border: none;
	color: white;
	font-size: 1.2em;
}
.choose_pay_title{
	font-weight: bold;
}