.clear{clear:both;} /* clear float */
.first-title{

}
.second_title{
	font-size: 1.2em;
}
.second_title img{
	margin-bottom: -5px;
}
.platform{
	
}
.pay_center_img{
	float: left;
}
.pay_des_item{
	margin: 10px;
	padding: 7px;
}
.pay_center_img img{
	height: 235px;
	width: 270px;
}
.pay_des_right, .pay_des_price{
	margin-left: 6px;
}
.pay_des_price{
	color: red;
	font-size: 1.6em;
}
.pay_center_des{
	margin-left: 280px;
	margin-right: 58px;
}
.choose_pay_title{
	margin: 20px 0px;
}
.pay_way_choose table{
	border: #ebebeb 1px solid;
}
.pay_way_choose tr{
	height: 40px;

}
.pay_way_choose{
	/*width: 565px;*/
}
.pay_way_choose td{
/*	width: 184px;*/
	padding: 10px;
	border: #ebebeb 1px solid;
}
.pay_title td{
	width: 184px;
}
.pay_way_des{
	float: left;
	line-height: 33px;
} 
.pay_way_check{
	float: left;
}
.pay_choose_title{
	font-size: 1.6em;
}
.pay_title td{
	text-align: center;
	position: relative;
}
.pay_title_plat, .pay_title_yl{
	background: red;
	color: white;
	width: 100%;
	height: 39px;
	display: block;
	padding: 0px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 39px;
}
.pay_title_yl{
	background: white;
	color: black;
}
.pay_way_box{
	width: 100%;
}
.pay_way_bt{
	margin: auto;
	width: 120px;
}
.pay_way_bt input{
	height: 31px;
	width: 120px;
	line-height: 31px;
	margin: 10px;
	text-align: center;
	background: red;
	border: none;
	color: white;
	font-size: 1.2em;
}
.choose_pay_title{
	font-weight: bold;
}

/*=====================================*/
/*paydetail*/
/*=====================================*/


.pay_detail_tb table{
	border: #ebebeb 1px solid;
}
.pay_dt_item, .pay_detail_tb{
	padding: 6px;
}
.pay_detail_tb td{
	text-align: center;
	padding: 5px;
}
.pay_center_view{
	height: 250px;
	margin-bottom: 20px;
}
.pay_detail_tb img{
	height: 92px;
	width: 92px;
}

/*=====================================*/
/*paycomment*/
/*=====================================*/
.rate_box{
	height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 20px;
}
.rate_box span{
	float: left;
}
.house_values{
	margin: 33px;
}
.house_values div{
	float: left;
}
.pay_center_img{
	height: 250px;
	width: 270px;
}
.payweixinmig{
	float: left;
	line-height: 65px;
	margin-right: 20px;
}
.scancode{
	width: 200px;
	margin: auto;
}
.scantishi{
	width: 240px;
	margin:10px auto;
}
#scancodebox{
	display: none;
}
.bt{
	cursor: pointer;
}