/*head*/
.head_right{
	float:right;
	width:350px;
}
.text_head{
	float:left;
	margin-top:13px;
	line-height:40px;
}
#img_head{
	float:right;
	width:140px;
	margin-top:13px;
	height:40px;
	background-color:red;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:white;
}

/*center*/
.search_center1 #search_1{
	width:40%;
	float:left;
	clear:left;
	height:40px;
	margin-top:10px;
	background-color:white;
}
.search_center1 #search_2{
	width:58%;
	float:right;
	height:40px;
	margin-top:10px;
	background-color:white;
}
.search_center1 #search_3{
	width:100%;
	float:left;
	height:40px;
	margin-top:10px;
	background-color:black;
}
.search_center1 #search_1_1{

	width:10%;
	line-height:40px;
	float:left;
	margin-left:20px;
}
.search_center1 #search_1_2{
	width:83%;
	float:right;
	line-height:40px;
}
.search_center1 #search_1_3{
	width:65%;
	float:left;
	padding-top:12px;
}
.search_center1 #search_1_5{
	width:65%;
	float:left;
	line-height:40px;
}
.search_center1 #search_1_4{
	width:20%;
	float:right;
	line-height:40px;
	text-align:center;
}
.search_center1 #search_1_4 #amount{
	width:100%;
	height:38px;
	font-size:17px;
	text-align:center;
	line-height:38px;
}
.search_center1 #search_1_4 #in1{
	width:100%;
	height:38px;
	font-size:20px;
	color:white;
	border:none;
	background-color:red;
}
.search_center1 #select1{
	width:100%;
	height:40px;
	border-color:white;	
	line-height:40px;
    border-radius:5px;
	padding-bottom:5px;
	outline-color: #CDCDCD;
	/*width:100%;
	height:38px;
	padding:5px 0;
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../images/arrow.png") no-repeat scroll right center transparent;*/
}

.search_center1 option{
	font-size:20px;
}
.search_center1 #select2{
	width:18%;
	height:30px;
	border-color:white;
	line-height:35px;
	font-size:15px;
    border-radius:5px;
	padding-bottom:5px;
	outline-color: #CDCDCD;
	/*width:18%;
	height:38px;
	padding:5px 0;
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../images/arrow.png") no-repeat scroll right center transparent;*/
}
.search_center1 #search1_5{

}
.search_center2{
	width:96.3%;
	height:580px;
	padding:20px;
	clear:both;
	background-color:white;
}
.left{
	height:580px;
	width:40%;
	float:left;
}
.left img{
	height:580px;
	width:100%;
}
.right{
	height:580px;
	width:55%;
	float:right;
}
.right #top{
	width:100%;
	height:20px;
	line-height:20px;
}
.right #center{
	width:100%;
	height:490px;
	background-color:white;
}
.right #bottom{
	width:100%;
	height:60px;
	margin-top:0px;
	background-color:white;
	clear:right;
	line-height:60px;
}
.table1{
	width:100%;
	height:490px;
}

.table1 td{
	width:50%;
	padding-right:10px;
	border: none
}
.table2 {
	width:100%;
	height:235px;
}

.table2 #td1 img{
	width:100%;
	height:150px;
}
