@import url("init.css");
.clear{clear:both;} /* clear float */
body{
  background: white;
}

.header-top {
  display: block;
  position: absolute; 
  top: 0;
  z-index: 10;
  width: 100%;
}
.navlogo{
	margin-left: 2em;
  float: left;
}
.navlogin{
	float: right;
  margin-top: 1.5em;
  line-height: 36px;
}
.navlogin li{
	margin-right: 10px;
	font-size: 1.3em;
	font-family: sans-serif;
  color: white;
  float: left;
}
.navlogin a{
  text-decoration: none;
  color: white;
}

.navsearch{
  height: 36px;
  background: red;
  padding: 2px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: 780px;
  float: left;
  width: 100%;
  border: 0;
  }

.gallery img{

	top: 0px;
	left: 0px;
  width: 100%;
  height: 833px;
  }


.login{
  width:400px;
  position:fixed;
  border:#ebebeb;
  height:320px;
  top:50%;
  left:50%;
  display:none;
  background-color:#ffffff;
  box-shadow:0px 0px 20px #ddd;
  z-index:9999;
  margin-left:-250px;
  margin-top:-140px;
}
.message_login{
  display: none;
}
.login_title_box{
  width: 100%;
  margin: 10px 0px;
  border-bottom: solid 1px #ebebeb;
  height: 50px;
}
.login_title_box a{
  text-decoration: none;
  color: black;
}
.login_instant{
  float: right;
  margin-right: 30px;
}
.reg_instant{
  float: right;
}

.register{
  width: 100%;
  float: left;
  display: none;
}

.phone-log{
  width: 100%;
  float: left;
  
}

.other-log{
  width: 237px;
  float: left;
}

#count_login_title{
  border-bottom: solid red 1px;
}

.login-title{
  width:186px;
  margin:10px 0px 0px 0px;
  text-align:center;
  line-height:40px;
  height:40px;
  font-size:24px;
  position:relative;
  float: left;
}

.register-title{
  width:100%;
  margin:10px 0px 0px 0px;
  text-align:center;
  line-height:40px;
  height:40px;
  font-size:24px;
  position:relative;
  border-bottom: solid 1px #ebebeb ;
}

.register-input{
  height:35px;
  float: left;
  margin: 5px 5px;
  /*border: #ebebeb 1px solid;*/
}
.msg-lg-input{
  height:35px;
  float: left;
  margin: 10px 5px;
  /*border: #ebebeb 1px solid;*/
}
.register-input div, .msg-lg-input div{
      float: left;
}
.register-input-content{
  margin:20px 40px;
}
.get-code{
  height: 37px;
  border: #ebebeb 1px solid;
  width: 74px;
}
.phone-input{
  float:left;
  line-height:35px;
  height:35px;
  width:178px;
  text-indent:5px;
  float: left;
  border: none;
  border: #ebebeb 1px solid;
}
.register-input img, .msg-lg-input img{
  height: 35px;
  width: 35px;
}
.register-input input.item-input, .msg-lg-input input.item-input{
  border: none;
  text-indent: 5px;
  width: 170px;
  line-height: 35px;
  float: left;
  height: 35px;
  border: #ebebeb 1px solid;
}

/*.login-title span{
  position:absolute;
  font-size:12px;
  right:-20px;
  top:-30px;
  background:#ffffff;
  border:#ebebeb solid 1px;
  width:40px;
  height:40px;
  border-radius:20px;
}
.login-title span a{
  display:block;
}*/
.login-input-content{
  margin:20px 40px;

}
.login-input {
  overflow:hidden;
  margin:0px 0px 20px 0px;
  /*border: #ebebeb 1px solid;*/
}
/*.login-input label{
  float:left;
  width:90px;
  padding-right:10px;
  text-align:right;
  line-height:35px;
  height:35px;
  font-size:14px;
}*/
.close-login{
    
    background-color: black;
    height: 40px;
    width: 40px;
    z-index: 9;
    position: absolute;
    top: 0px;
    right: 0px;
}
.close-login img{
  height: 40px;
  width: 40px;
}
/*.login-input input.list-input*/
.list-input{
  float:left;
  line-height:34px;
  height:34px;
  width:250px;
  text-indent:5px;
  float: left;
  border: none;
  border: #ebebeb 1px solid;
}

.login-input img{
  height: 35px;
  width: 35px;
  line-height: 35px   
}

.login-input div{
      float: left;
}
.forget-pswd{
  float: right;
}
.pswdlabel{
  float: left;
}
.login-button{
  width:250px;
  line-height:40px;
  font-size:14px;
  text-align:center;
  background-color: red;
  color: white;
  margin-left: 35px;
}
.reg-button, .msg-lg-button{
    width: 250px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    background-color: red;
    color: white;
    margin: 16px 40px;
}
.login-button a, .reg-button a, .msg-lg-button a{
  display:block;
  text-decoration: none;
  color: white;
  font-size: 1.6em;
}
.login-footer{
  margin: 25px 35px 10px 35px;
  height: 20px;
}
.pswdlabel{
   height: 20px;
}
.forget-pswd{
  height: 20px;
}
.login-bg{
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background-color:#ebebeb;
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
  -khtml-opacity:0.3;
  opacity:0.3;
  display:none;}

  .line{
        margin-top: 33px;
        float: left;
  }

  .float-left{
    float: left;
  }
  .other-way, .wantreg, .havecount{
    margin: 20px 0px 20px 40px;
    height: 60px;
    width: 100%;
  }
  .other-way img{
    height: 60px;
    width: 60px;
  }
  .havecount{
    display: none;
  }

  .othername{
    line-height: 60px;
    margin-left: 70px;

  }


  .search{
    position: absolute;
    top: 647px;
    width: 100%;
  }

  .sinput{
    width: 855px;
    margin: auto;
  }

  .search_box{
    float: left;
    background-color: white;
    margin-right: 1em;
    width: 360px;
    height: 60px;
  }
  .search_box div{
    float: left;
  }

  .search_input{
    line-height: 30px;
    border: none;
    font-size: 16px;
    width: 280px;
    padding: 15px 5px;
  }

  .search_img{
    height: 60px;
    width: 60px;
  }

  #search_botton{
    height: 60px;
    width: 100px;
    background-color: red;
    color: white;
  }
  .ad{
    position: absolute;
    top: 750px;
    width: 100%;
  }
  .ad_box{
    width: 340px;
    margin: auto;
  }

  .ad_text{
    font-size: 31px;
    color: white;
    line-height: 50px;
    float: left;
  }

  .ad img{
    height: 50px;
    width: 50px;
    float: left;
  }

  .theme{
    width: 100%;
    height: 100px;
    margin: 50px 0px 20px 0px;
  }

  .theme_box{
    width: 295px;
    margin: auto;  
  }

  .theme_title{
    text-align: center;
    font-size: 35px;
  }

  .theme_cont{
    text-align: center;
    font-size: 18px;
    margin: 10px;
  }

  .view_pic{
    width: 100%;
    height: 600px;
  }

  .view_pic_box{
    
    width: 960px;
    height: 600px;
    margin: auto;
  }



  .view_img_left{
    width: 629px;
    height: 290px;
    margin: 0px;
    padding: 5px;
    float: left;
    position: relative;
  }
  .view_img_right{
    width: 310px;
    height: 290px;
    margin: 0px;
    padding: 5px;
    float: left;
    position: relative;
  }

  .view_pic_box img{
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .view_pic_describe{
    position: absolute;
    left: 5px;
    bottom: 5px;
  }
  .imglow{
    position: absolute;
    z-index: -1;
  }

  .address{
    background-color: #000000;
    opacity: 0.5;
    filter:Alpha(opacity=50);;
    color: white;
    height: 29px;
    line-height: 29px;
    width: 245px;
  }

  .price{
    background-color: #FF0000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    color: white;
    height: 29px;
    line-height: 29px;
    width: 80px;
  }

  .view_pic_box a{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    /*background: blue;*/
    display: inline-block;
    background-image: url(about:blank);
    z-index: 9

  }
   .view_pic_box a:hover{
    background-color: #EAE8E8;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    border: solid 1px #ddd;
    
   }

  .view_video{
    width: 100%;
    height: 450px;
    background: url("../images/pic3.jpg");
  }

  .view_video_box{
    width: 960px;
    height: 450px;
    margin: auto;
  }

  .video_cont{
    width: 470px;
    height: 310px;
    float: left;
    margin: 45px 5px;
    position: relative;
  }

  .backimg{
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .play{
    position: absolute;
    top:125px;
    left: 205px;
    height: 60px;
    width: 60px;
  }

  .play_des{
    text-align: center;
    color: white;
    font-size: 26px;
    margin: 10px;
  }

  .play_link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(about:blank);
  }

  .play_link:hover{
    background-color: #EAE8E8;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    border: solid 1px #ddd;
  }

  /* login */

  .footer{
    width: 100%;
    height: 100px;
    background: #4A4040;
  }