#t_1{
	width:34em;	
	height:16em;
	font-size:18px;
}
#td_1{
	width:30px;
	text-align:right;
}
#td_2{	
	text-align:left;
}
#input_1{
	margin-left:10px;
	width:150px;
	height:23px; 
	line-height:20px;
}
#input_2{
	margin-left:10px;
	width:25px;		
}
#img_1{
	margin-left:10px;
	width:60px;
	height:60px;
}
#xiugai_3{
	height:300px;
}
#xiugai_3_1{
	width:200px;
	height:200px;
	margin-left:70px;
}
#img_2{
	width:100px;
	height:100px;
	margin:5px 25px;
}
a{
	margin-left:25px;
}
#img_3{
	width:150px;	
	margin-top:30px;
	margin-left:90px;
}