#t_1{
	width:34em;	
	height:16em;
	font-size:18px;
}
#td_1{
	width:90px;
	text-align:right;
}
#td_2{	
	text-align:left;
}
#input_1{
	margin-left:10px;
	width:150px;
	height:23px; 
	line-height:20px;
}
#input_2{
	margin-left:10px;
	width:25px;		
}
#img_1{
	margin-left:10px;
	width:60px;
	height:60px;
}
#xiugai_3{
	height:300px;
}
#xiugai_3_1{
	width:200px;
	height:200px;
	margin-left:70px;
}
#img_2{
	width:100px;
	height:100px;
	margin:5px 25px;
}
#butt_queren input{
	width:150px;
	height:40px;
	margin-left: 90px;
	margin-top:20px;
	background-color:red;
	border:none;
	font-size: 18px;
	color:white;
}
